*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100dvh;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #212121;
}

#input-area{
    width: 400px;
    max-width: 80dvw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 25px;
    padding: 0px 20px;
    margin-bottom: 30px;
}

#input-area input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 12px;
    background-color: transparent;
}

#input-area button{
    width: 30%;
    height: 80%;
    border: none;
    outline: none;
    background-color: #2036e0;
    color: #fff;
    font-size: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#input-area button:hover{
    background-color: #2036e0c4;
}

#siteName{
    background: transparent;
    color: aquamarine;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
}
